*{
    padding: 0;
    margin: 0;
 
}

ion-grid{
    background-color: white;
    width: 100%;
    background: url("../../assets/account.svg");
    background-size: cover;
}

#header{
    width: 100%;

    // margin-bottom: 1.5em;
    padding: 1em 0 0 2rem;

}

ion-col > h2{
    font: normal 18px Poppins;
    padding: 1em 0;
}

ion-row{
    width: 100%;
}

ion-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 2em 0;
}

#acc-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

//Profile


div{
    display: flex;
    align-items: center;
    padding: .7em 0;
}
#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    width: 100%;
}

#name{
    text-align: center;
    padding-bottom: 1em;
    width: 100%;
    font: normal 16px Poppins;
    // border-bottom: 1px solid rgb(95, 95, 95);
}

#person-icon{
    font-size: 100px;
    color: #25C196;
}


#email{
    width: 80%;
    gap: 10px;
}

#logout{
    // width: 80%;
    gap: 10px;
}


// // Icon 

div > ion-icon{
    font-size: 18px;
    color: #25C196;
}


// Email
#email-acc{
    font: normal 14px Poppins;
    color: rgb(95, 95, 95);
}


// ion-row{
//     display: flex;
//     width: 100%;
//         // border: 1px solid red;
//     justify-content: center;
// }

// ion-row > div{
//     display: flex;
//     align-items: center;
//     gap: 10px;
// }


//  // Profile Picture
// #profile{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     padding-bottom: 1em;
// }





// ion-row > div{
//     width: 80%;
//     // border: 1px solid red;
//     padding: 1em 0em;
// }





// //email



// // Logout

ion-button{
    // --background:white;
    // color: rgb(95, 95, 95);
    // min-height: 1.2em;
    // max-height: 1.2em;
    // width: 4em;
    // --box-shadow:0xp;
    // --border-radius:0px;
    display: flex;
    font: normal 14px Poppins;
    --color-activated:white;
    

}