
<ion-grid>

  <ion-row id ="header">
    <ion-col>
      <h2>Account</h2>
    </ion-col>
  </ion-row>

  <ion-row id ="acc-cont">
      <ion-card>

        <div id ="profile">
          <ion-icon name="person-circle-outline" id ="person-icon"></ion-icon>
          <h4 id = "name">Ken Mark L. Rolloque</h4>

          <div id ="email">
            <ion-icon name="mail-outline"></ion-icon>
            <h6 id ="email-acc">kenmarklacedarolloque@gmail.com</h6>
          </div>
          
        </div>



        <div id ="logout">
         
          <ion-button (click) = "goToLogin()">  <ion-icon name="log-out-outline"></ion-icon>Logout</ion-button>
        </div>
      </ion-card>

  </ion-row>

<!-- 
  <ion-row id ="profile">
    <ion-icon name="person-circle-outline" id ="person-icon"></ion-icon>
    <h4 id = "name">Ken Mark L. Rolloque</h4>
  </ion-row>

  <ion-row id ="email">
      <div>
        <ion-icon name="mail-outline"></ion-icon>
        <h6 id ="email-acc">kenmarklacedarolloque@gmail.com</h6>
      </div>
  </ion-row>

  <ion-row id ="logout">
        <div>
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-button (click) = "goToLogin()">Logout</ion-button>
      </div>
  </ion-row> -->



  
</ion-grid>