<ion-grid>

  <ion-row id = "header">
    <ion-col>
      <h2>Gallery</h2>
    </ion-col>
  </ion-row>

  <ion-row id = "size-row">
    <div>
      <p id ="note">You can change the size of the QR code by changing the value below</p>

      <div id ="size-container">
        <ion-label>Size: </ion-label>
        <ion-input type ="number" [(ngModel)] = "defaultSize" > </ion-input>
      </div>
    </div>
  </ion-row>

  <ion-row id="qr-cont">
    <ion-col>
      <ion-card id ="qr-card">
          <div id="qr-cont">
            <qrcode [qrdata]="'qrValue'" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
          </div>

          <div id ="desc-cont">
             <h6><span>Description:</span> Facebook </h6>
             <h6><span>Content:</span>https://www.facebook.com</h6>
             <h6><span>Created:</span> 06-25-2023 </h6>
          </div>

          <div>
            <ion-button id = "download-btn" (click) ="getValue()">
              <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
            </ion-button>
          </div>
      </ion-card>
    </ion-col>
  </ion-row>

  
  <ion-row id="qr-cont">
    <ion-col>
      <ion-card id ="qr-card">
          <div id="qr-cont">
            <qrcode [qrdata]="'qrValue'" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
          </div>

          <div id ="desc-cont">
             <h6><span>Description:</span> Facebook </h6>
             <h6><span>Content:</span>https://www.facebook.com</h6>
             <h6><span>Created:</span> 06-25-2023 </h6>
          </div>

          <div>
            <ion-button id = "download-btn" (click) ="getValue()">
              <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
            </ion-button>
          </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>