<ion-grid>

  <ion-row id = "header">
    <ion-col>
      <h2>Gallery</h2>
    </ion-col>

    <ion-col>
      <ion-button (click) = "goToHome()">Back</ion-button>
    </ion-col>
  </ion-row>

  <ion-row id="qr-cont">
    <ion-col>
      
      <ion-card id ="qr-card">
          <div id="qr-cont">
            <qrcode [qrdata]="'qrValue'" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
          </div>

          <div id ="desc-cont">
             <h6>Description: Facebook </h6>
             <h6>Content: https://www.facebook.com</h6>
             <h6>Created: 06-25-2023 </h6>
          </div>
      </ion-card>


    </ion-col>
  </ion-row>



  <ion-row id="qr-cont">
    <ion-col>
      
      <ion-card id ="qr-card">
          <div id="qr-cont">
            <qrcode [qrdata]="'qrValue'" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
          </div>

          <div id ="desc-cont">
             <h6>Description: Facebook </h6>
             <h6>Content: https://www.facebook.com</h6>
             <h6>Created: 06-25-2023 </h6>
          </div>
      </ion-card>


    </ion-col>
  </ion-row>




  <ion-row id="qr-cont">
    <ion-col>
      
      <ion-card id ="qr-card">
          <div id="qr-cont">
            <qrcode [qrdata]="'qrValue'" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
          </div>

          <div id ="desc-cont">
             <h6>Description: Facebook </h6>
             <h6>Content: https://www.facebook.com</h6>
             <h6>Created: 06-25-2023 </h6>
          </div>
      </ion-card>


    </ion-col>
  </ion-row>



  <ion-row id="qr-cont">
    <ion-col>
      
      <ion-card id ="qr-card">
          <div id="qr-cont">
            <qrcode [qrdata]="'qrValue'" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
          </div>

          <div id ="desc-cont">
             <h6>Description: Facebook </h6>
             <h6>Content: https://www.facebook.com</h6>
             <h6>Created: 06-25-2023 </h6>
          </div>
      </ion-card>


    </ion-col>
  </ion-row>



  <ion-row id="qr-cont">
    <ion-col>
      
      <ion-card id ="qr-card">
          <div id="qr-cont">
            <qrcode [qrdata]="'qrValue'" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
          </div>

          <div id ="desc-cont">
             <h6>Description: Facebook </h6>
             <h6>Content: https://www.facebook.com</h6>
             <h6>Created: 06-25-2023 </h6>
          </div>
      </ion-card>


    </ion-col>
  </ion-row>



  <ion-row id="qr-cont">
    <ion-col>
      
      <ion-card id ="qr-card">
          <div id="qr-cont">
            <qrcode [qrdata]="'qrValue'" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
          </div>

          <div id ="desc-cont">
             <h6>Description: Facebook </h6>
             <h6>Content: https://www.facebook.com</h6>
             <h6>Created: 06-25-2023 </h6>
          </div>
      </ion-card>


    </ion-col>
  </ion-row>



</ion-grid>