
<ion-grid>

  <ion-row id ="header">
    <ion-col>
      <h2>History</h2>
    </ion-col>
  </ion-row>


  <ion-row id ="history-cont">
    <div>

      <ion-item lines="full">
        <ion-icon id ="user-icon" name="person-circle" slot="start"></ion-icon>
        <ion-label id ="description">You scanned <span>https://www.facebook.com</span></ion-label>
        <ion-label id ="time" slot="end">
          01/14/23<br> 7:00am
        </ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-icon id ="user-icon" name="person-circle" slot="start"></ion-icon>
        <ion-label id ="description">You scanned <span>https://www.facebook.com</span></ion-label>
        <ion-label id ="time" slot="end">
          01/14/23<br> 7:00am
        </ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-icon id ="user-icon" name="person-circle" slot="start"></ion-icon>
        <ion-label id ="description">You scanned <span>https://www.facebook.com</span></ion-label>
        <ion-label id ="time" slot="end">
          01/14/23<br> 7:00am
        </ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-icon id ="user-icon" name="person-circle" slot="start"></ion-icon>
        <ion-label id ="description">You scanned <span>https://www.facebook.com</span></ion-label>
        <ion-label id ="time" slot="end">
          01/14/23<br> 7:00am
        </ion-label>
      </ion-item>

   </div>
  </ion-row>



  
</ion-grid>