
<ion-grid>

  <ion-row id ="header">
    <ion-col>
      <h2>History</h2>
    </ion-col>

    <ion-col>
      <div>
        <ion-checkbox></ion-checkbox>
        <ion-icon name="trash-outline" id ="trash-i"></ion-icon>
      </div>
    </ion-col>

  </ion-row>


  <ion-row id ="history-cont">

    <ion-col id="user-i" size ="2">
      <ion-icon name="person"></ion-icon>
    </ion-col>

    <ion-col id="description" size = "5">
      <div>
        <p>You scanned </p>
        <p>https://www.facebook.com</p>
      </div>
    </ion-col>

    <ion-col id="time" size ="3">
      
      <div>
        <p>06-25-2023</p>
        <p>12:10 am</p>
      </div>

    </ion-col>

    <ion-col id="checkbox" size = "2">
      <ion-checkbox></ion-checkbox>
    </ion-col>

  </ion-row>



  <ion-row id ="history-cont">

    <ion-col id="user-i" size ="2">
      <ion-icon name="person"></ion-icon>
    </ion-col>

    <ion-col id="description" size = "5">
      <div>
        <p>You scanned </p>
        <p>https://www.facebook.com</p>
      </div>
    </ion-col>

    <ion-col id="time" size ="3">
      
      <div>
        <p>06-25-2023</p>
        <p>12:10 am</p>
      </div>

    </ion-col>

    <ion-col id="checkbox" size = "2">
      <ion-checkbox></ion-checkbox>
    </ion-col>

  </ion-row>




  <ion-row id ="history-cont">

    <ion-col id="user-i" size ="2">
      <ion-icon name="person"></ion-icon>
    </ion-col>

    <ion-col id="description" size = "5">
      <div>
        <p>You scanned </p>
        <p>https://www.facebook.com</p>
      </div>
    </ion-col>

    <ion-col id="time" size ="3">
      
      <div>
        <p>06-25-2023</p>
        <p>12:10 am</p>
      </div>

    </ion-col>

    <ion-col id="checkbox" size = "2">
      <ion-checkbox></ion-checkbox>
    </ion-col>

  </ion-row>



  <ion-row id ="history-cont">

    <ion-col id="user-i" size ="2">
      <ion-icon name="person"></ion-icon>
    </ion-col>

    <ion-col id="description" size = "5">
      <div>
        <p>You scanned </p>
        <p>https://www.facebook.com</p>
      </div>
    </ion-col>

    <ion-col id="time" size ="3">
      
      <div>
        <p>06-25-2023</p>
        <p>12:10 am</p>
      </div>

    </ion-col>

    <ion-col id="checkbox" size = "2">
      <ion-checkbox></ion-checkbox>
    </ion-col>

  </ion-row>




  <ion-row id ="history-cont">

    <ion-col id="user-i" size ="2">
      <ion-icon name="person"></ion-icon>
    </ion-col>

    <ion-col id="description" size = "5">
      <div>
        <p>You scanned </p>
        <p>https://www.facebook.com</p>
      </div>
    </ion-col>

    <ion-col id="time" size ="3">
      
      <div>
        <p>06-25-2023</p>
        <p>12:10 am</p>
      </div>

    </ion-col>

    <ion-col id="checkbox" size = "2">
      <ion-checkbox></ion-checkbox>
    </ion-col>

  </ion-row>



  <ion-row id ="history-cont">

    <ion-col id="user-i" size ="2">
      <ion-icon name="person"></ion-icon>
    </ion-col>

    <ion-col id="description" size = "5">
      <div>
        <p>You scanned </p>
        <p>https://www.facebook.com</p>
      </div>
    </ion-col>

    <ion-col id="time" size ="3">
      
      <div>
        <p>06-25-2023</p>
        <p>12:10 am</p>
      </div>

    </ion-col>

    <ion-col id="checkbox" size = "2">
      <ion-checkbox></ion-checkbox>
    </ion-col>

  </ion-row>



  <ion-row id ="history-cont">

    <ion-col id="user-i" size ="2">
      <ion-icon name="person"></ion-icon>
    </ion-col>

    <ion-col id="description" size = "5">
      <div>
        <p>You scanned </p>
        <p>https://www.facebook.com</p>
      </div>
    </ion-col>

    <ion-col id="time" size ="3">
      
      <div>
        <p>06-25-2023</p>
        <p>12:10 am</p>
      </div>

    </ion-col>

    <ion-col id="checkbox" size = "2">
      <ion-checkbox></ion-checkbox>
    </ion-col>

  </ion-row>



  <ion-row id ="history-cont">

    <ion-col id="user-i" size ="2">
      <ion-icon name="person"></ion-icon>
    </ion-col>

    <ion-col id="description" size = "5">
      <div>
        <p>You scanned </p>
        <p>https://www.facebook.com</p>
      </div>
    </ion-col>

    <ion-col id="time" size ="3">
      
      <div>
        <p>06-25-2023</p>
        <p>12:10 am</p>
      </div>

    </ion-col>

    <ion-col id="checkbox" size = "2">
      <ion-checkbox></ion-checkbox>
    </ion-col>

  </ion-row>

</ion-grid>