
<ion-content>
  <ion-grid id ="main">


      <!-- wave image -->
      <ion-row id ="waves">
         <ion-img src ="assets/wave.png"></ion-img>
      </ion-row>


    <!-- logo form -->

    <ion-row id = "header">
      <ion-icon id ="header-logo" name="person-circle-outline"></ion-icon>
      <h2>Welcome User</h2>
      <h5>Please enter your password for this applicaction</h5>
    </ion-row>


      <ion-row id = "form-row">
            <!-- <h2>Login</h2> -->
            <ion-input placeholder ="Password" [(ngModel)]="inputValue_password" type ="password" [ngClass]="{'error': showError}"></ion-input>
            <div class="validation" *ngIf="showError">
              <ion-icon name="alert-circle"></ion-icon>
               Invalid password.
            </div>
      </ion-row>

      <ion-row  id = "pass_row">
        <ion-input type ="password" placeholder ="Confirm Password" [(ngModel)]="inputValue_confirm"  [ngClass]="{'error': showError}"></ion-input>
        <div class="validation" *ngIf="showError">
          <ion-icon name="alert-circle"></ion-icon>
          Invalid passsword.
        </div>
      </ion-row>

      <ion-row id ="button-row">
        <ion-button id ="login-bttn" (click) ="goToMain()">Submit</ion-button>
      </ion-row>



      <ion-row id ="logo-row">
        <div id ="logo-container">  
          <ion-icon id = "qr-icon" name="qr-code-outline"></ion-icon>
          <h2>SeQRscan</h2>
      </div>
      </ion-row>

  </ion-grid>
</ion-content>
