/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@font-face {
  font-family: 'Poppins';
  src: url('./assets/font/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./assets/font/Poppins/Poppins-SemiBold.ttf');
}


@font-face {
  font-family: 'Roboto';
  src: url('./assets/font/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Noto-sans';
  src: url('./assets/font/Noto_sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto-sans-bold';
  src: url('./assets/font/Noto_sans/NotoSans-Bold.ttf');
}



@font-face {
  font-family: 'Lato';
  src: url('./assets/font/Lato/Lato-Regular.ttf');
}


.custom-alert .alert-header{
    color: white;
  }
  .custom-alert .alert-wrapper{
  
    width: 90%;
  
  }
  .custom-alert .alert-title{
    color: white;
  }
  .custom-alert .alert-message {
    text-align: justify;
    color: white; /* Replace 'red' with the desired font color */
  }
  
  .custom-alert{
    --background: #dc3e00;
  }
  
  .custom-alert .alert-button{
    color: white;
  }
  
  .custom-alert .cont-button{
      background-color: #b80000;
      border-radius: 5px;
    }
  

    ion-modal{
      width: 100%;
    }
    ion-modal#example-modal {
      --width: fit-content;
      --min-width: 100%;
      --height: fit-content;
      --border-radius: 6px;
      --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  
    }
    
    ion-modal#example-modal h1 {
      margin: 20px 20px 10px 20px;
    }
    
    // ion-modal#example-modal ion-icon {
    //   margin-right: 6px;
    
    //   width: 48px;
    //   height: 48px;
    //   padding: 4px 0;
    //   color: #aaaaaa;
    // }
    
    ion-modal#example-modal .wrapper {
      display: flex;
  
      gap: 1em;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      padding:2em;
      
    }
  

  .download-toast{
    font: normal 12px Poppins;
    --border-radius:5px;
    color:#00BF63;
    --background:white;
    --box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);

  }
  
.error-toast{
  font: normal 12px Poppins;
  --border-radius:5px;
  color:red;
  --background:white;
  --box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);
}
  
.custom-toast{
  font: normal 12px Poppins;
  --border-radius:5px;
  color:#00BF63;
  --background:white;
  --box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.75);
}